.subRedditList {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
    align-items: center;
}
.subRedditList h2 {
    margin: 1rem 0;
    text-align: center;
}
.smallNav{
    box-sizing: border-box;
    display: flex;
    align-items: top;
    overflow: visible;
    height: fit-content;
    padding: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
    justify-content: space-between;
}