.postList, .postPage{
    width: calc(100vw - 292px);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 5%;
}
.listHeader {
    margin: 0.5rem;
    font-weight: 700;
    font-size: 20px;
}
.buttons {
    display: flex;
    margin: 0.5rem;
    justify-content: flex-start;
}
.loadMore {
    width: 70%;
    max-width: 1000px;
    min-width: 400px;
    text-align: center;
    font-weight: 600;
    color: rgb(120, 120, 120);
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
}
.loadMore:hover {
    background-color: lightgray;
    cursor: pointer;
    color: black;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width:750px){
    .postList, .postPage{
        width: 100vw;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .listHeader {
        font-size: 18px;
    }
}