.postList{
    width: calc(100vw - 333px);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 5%;
}
.postList h2 {
    margin: 0.5rem;
}
.buttons {
    display: flex;
    margin: 0.5rem;
    justify-content: flex-start;
}