.header {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
}
.header h1 {
    display: flex;
    margin: 0;
}

@media only screen and (max-width:750px){
    .header {
        flex-direction: column;
    }
}