.post {
    margin: 8px;
    height: fit-content;
    width: 70%;
    max-width: 1000px;
    min-width: 300px;
    overflow: hidden;
    display: block;
    border-radius: 0.3rem;
    border: 1px solid black;
    background-color: white;
    transition: all 0.2s ease-in-out;
}
.post:hover {
    transform: translate(5px, -5px);
    box-shadow: -3px 3px 4px grey;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.postInfo {
    background-color: rgb(202, 196, 182);
    border-bottom: 1px black solid;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    display: grid;
    grid-template: repeat(2, fit-content) / 20%, 80%;
    justify-content: start;
    padding: 8px 0;
}
.rating {
    grid-area: 1 / 1 / 3 / 2;
    font-size: 0.8rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    width: 30px;
    height: 100%;
}
.rating img {
    height: 30px
}
.subInfo {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    overflow: hidden;
}
h2.subRedditName {
    font-size: 20px;
    margin: 0;
}
.awards {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    margin: 0;
    height: 16px;
    overflow: hidden;
    grid-area: 2 / 2 / 3 / 3;
}
.awards::before {
    content: '~';
    font-size: 16px;
    padding: 0 10px;
}
.award {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.awardIcon {
    height: 20px;
    margin-right: 5px;
}
.awardCount {
    margin: 0;
    font-size: 12px;
}

.authorInfo {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}
.authorInfo li {
    display: inline;
    font-size: smaller;
    margin: 0;
    padding: 0;
}
.authorInfo li+li::before, .authorInfo h2+li::before {
    content: '~';
    padding: 0 5px;
}

.postContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.postContent h3{
    padding: 0 8%;
}
.thumbnail {
    padding: 2% 8% 2% 0;
}

.imagePost {
    display: flex;
    justify-content: center;
    max-height: 400px;
    overflow: hidden;
}
.imagePost img{
    max-height: inherit;
    height: auto;
    max-width: 100%;
    width: auto;
}
.videoPost {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: 500px;
    overflow: hidden;
    align-content: center;
}
.videoPost video{
    height: auto;
    max-width: 100%;
}
.linkPost {
    display: flex;
    margin: 0 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.textPost {
    max-height: 300px;
    overflow: hidden;
    position: relative;
}
.selfText {
    padding: 0 8%;
    margin: 0;
    line-height: 1.4;
}

.fadeFilter {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(transparent 50%, white 90%, white);
}
.fadeFilter p {
    height: fit-content;
    padding: 5px;
    margin: 0;
    transition: all 0.1s ease-in-out;
}
.post:hover .fadeFilter p {
    font-size: larger;
    font-weight: bolder;
    transition: all 0.1s ease-in-out;
}

.postFooter {
    display: flex;
    justify-content: space-around;
    border-top: lightgray 2px solid;
    margin-top: 10px;
    width: 100%;
}
.comments {
    text-align: center;
    font-weight: 600;
    color: rgb(120, 120, 120);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    transition: all 0.2s ease-in-out;
}
.comments:hover {
    background-color: lightgray;
    cursor: pointer;
    color: black;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width:750px){
    h2.subRedditName {
        font-size: 15px;
        margin: 0;
    }
    .awards {
        display: flex;
        flex-wrap: wrap;
        padding: 5px 0;
        margin: 0;
        height: 10px;
        overflow: hidden;
        grid-area: 2 / 2 / 3 / 3;
    }
    .awards::before {
        font-size: 8px;
        padding: 0 5px;
    }
    .award {
        margin-right: 5px;
    }
    .awardIcon {
        height: 15px;
        margin-right: 5px;
    }
    .awardCount {
        margin: 0;
        font-size: 10px;
    }
    .authorInfo {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        align-items: center;
        padding-inline-start: 0;
        list-style-type: none;
        margin: 0;
    }
    .authorInfo {
        flex-direction: column;
        align-items: flex-start;
    }
    .authorInfo li {
        display: inline;
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    .authorInfo li+li::before, .authorInfo h2+li::before {
        content: none;
        padding: 0;
    }
    .postContent h3{
        font-size: 16px;
    }
    .selfText {
        font-size: 14px;
    }
}