.button {
    background-color: white;
    box-sizing: border-box;
    width: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 9999px;
    margin-right: 1rem;
    transition: all 0.5s ease-in-out;
}
.button:hover {
    cursor: pointer;
    filter: invert(100);
    transition: all 0.5s ease-in-out;
}
.active {
    filter: invert(100);
}

.button img{
    height: 2rem;
    padding: 0 0.2rem;
}
.button p {
    color: black;
    font-size: 1rem;
    padding-right: 0.8rem;
    margin: 0;
}
select.button {
    color: black;
    padding: 0 0.5rem;
    font-size: 1rem;
}